<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/hearder.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <!-- <link rel="stylesheet" href="/css/accueil.css"> -->
    <link rel="stylesheet" href="/css/interfaceUtilisateurParticiper.css">
    <!-- <link rel="stylesheet" href="/css/vendre.css"> -->
    <title>E-novateur</title>
</head>
<body>

  <header>
    <nav>
        <div class="logo">
            <img src="/image/logo.png" alt="logo">
        </div>
        <div class="barre-Recherche">

        </div>
        <div class="options">
            <div class="items">
                <a href="/" class="accueil">Mamadou</a>
            </div>
            <div class="logo-Ordinateur">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </nav>
  </header>


    <div class="info_produit">
        <div class="inf" id="infA" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
            <div class="elmtA">
                <img src="<%= produit.image %>" >
            </div>
            
            <div class="elmtB">
                <div class="elmtBINF"><img src="<%= produit.image %>" ></div>
                <div class="elmtBINF"><img src="<%= produit.image %>" ></div>
                <div class="elmtBINF"><img src="<%= produit.image %>" ></div>
            </div>
            <div class="elmtB" id="nom"><%= produit.nom %></div>
        </div>

        <div class="inf" id="infB">
            <div class="description">
                <i class="fa-regular fa-file-lines"></i>
                <h3>Description</h3>
            </div>
            <p style="margin: 20px;"><%= produit.description %></p>
        </div>

        <div class="inf" id="infC">
            <div class="elmtCINF1">
                <div class="elmtCINF11">
                    <i class="fa-solid fa-circle-info"></i>
                    <h3>info</h3>
                </div>

                <div class="elmtCINF12">
                    <div class="montantInitial">Montant initial</div>
                    <div class="montant" id="montant"><%= produit.montant_initial %> F CFA</div> 
                </div>

                <div class="elmtCINF13">
                    <p id="decompte">                        
                        
                        <%= produit.date_debut %></p>
                </div>
                <div class="elmtCINF14">
                    <p class="proposition">Plus forte proposition : <%= produit.meilleure_proposition %> F CFA</p>
                </div>
            </div>

            <div class="elmtCINF2">
                <div class="elmtCINF111">
                    <i class="fa-solid fa-circle-info"></i>
                    <h3>Passez à l'action</h3>
                </div>

                <div class="elmt" id="cinq">+5000</div>
                <div class="elmt" id="cent">+10000</div>
                <div class="elmt" id="quiz">+15000</div>
                <div class="elmt" id="trent">+30000</div>
           
                
            </div>
        </div>
    </div>
    <div id="info_vendeur">

    </div>
    <div id="info_important">

    </div>
 

    <script>
        AOS.init();
    </script>
    <script src="/js/interfaceParticiper.js"></script>
</body>
